.menu-bar__item {
    margin-right: 30px;
    align-items: center;
}

.menu-bar__item > ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}

.menu-bar__item > ul > li {
    padding: 5px;
    margin-right: 15px;
}

.menu-bar__item > ul > li > a {
    padding: 5px;
		color: black;
		font-weight: bold;
		border-radius: 30px;
}

.menu-bar__item > ul > li > a:hover {
	color: #d6d6d6;
}
